<mat-tab-group dynamicHeight>
  <mat-tab label="Todo">
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-sm-4">
          <app-update-todo (update)="update($event)"></app-update-todo>
        </div>
        <div class="col-sm-8">
          <app-list-todo [completed]="false"></app-list-todo>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Completed">
    <div class="container-fluid mt-5">
      <app-list-todo [completed]="true"></app-list-todo>
    </div>
  </mat-tab>
</mat-tab-group>
