<div *ngIf="!editMode" class="card bg-light text-dark" style="max-width: 18rem;">
  <div class="card-header text-white" [ngClass]="['bg-'+todoItem.color]">
    {{this.todoItem.title}}
  </div>
  <div class="card-body">
    <p>{{this.todoItem.description}}</p>
    <div class="d-flex justify-content-center">
      <div class="mt-5 btn-toolbar" role="group">
        <div class="btn-group mr-2">
          <button class="btn btn-sm" [ngClass]="['btn-outline-'+todoItem.color]" (click)="editTodo()">edit</button>
          <button class="btn btn-sm" [ngClass]="['btn-outline-'+todoItem.color]" (click)="deleteTodo()">delete</button>
        </div>
        <div class="btn-group" *ngIf="!this.todoItem.isCompleted">
          <button class="btn btn-sm" [ngClass]="['btn-outline-'+todoItem.color]" (click)="markAsCompleted()">Mark as done</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="editMode">
  <app-update-todo [todoItem]="todoItem" (update)="update($event)" ></app-update-todo>
</div>
